# Data Cleaning File

## Package Stuff

### Install Package
pandas, ~~numpy, matplotlib, seaborn~~

In [115]:
%pip install pandas
%pip install numpy
%pip install matplotlib
%pip install seaborn

Requirement already satisfied: pandas in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\khama\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\khama\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (2.2.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.2.1)
Requirement already satisfied: packaging>=20.0 in c:\users\khama\appdata\roaming\python\python312\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\khama\appdata\roaming\python\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\khama\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: seaborn in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (0.13.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.1)
Requirement already satisfied: pandas>=1.2 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\khama\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\khama\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\khama\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\khama\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

### Import Package

In [128]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Create Dataframe

### MATCH.csv

In [117]:
df_match = pd.read_csv('european_soccer_dataset-MATCH.csv')
df_match.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,Unnamed: 33
0,145,1,1,2008/2009,24,2/28/09 0:00,493016,9996,8635,1,...,26458.0,13423.0,38389.0,38798.0,30949.0,38253.0,106013.0,38383.0,46552.0,NaN
1,146,1,1,2008/2009,24,2/27/09 0:00,493017,8203,9987,2,...,148313.0,104411.0,148314.0,37202.0,43158.0,9307.0,42153.0,32690.0,38782.0,NaN
2,147,1,1,2008/2009,24,2/28/09 0:00,493018,9986,9998,3,...,39151.0,166554.0,15652.0,39145.0,46890.0,38947.0,46881.0,39158.0,119118.0,NaN
3,148,1,1,2008/2009,24,3/1/09 0:00,493019,9985,9984,4,...,37021.0,38186.0,27110.0,32863.0,37957.0,37909.0,104386.0,38251.0,37065.0,NaN
4,149,1,1,2008/2009,24,3/1/09 0:00,493020,9994,9991,0,...,36841.0,38337.0,NaN,33662.0,37044.0,32760.0,38229.0,12574.0,46335.0,NaN

### LEAGUE.csv

In [119]:
df_league = pd.read_csv('european_soccer_dataset-LEAGUE.csv')
display(df_league)

       id  country_id                      name
0       1           1    Belgium Jupiler League
1    1729        1729    England Premier League
2    4769        4769            France Ligue 1
3    7809        7809     Germany 1. Bundesliga
4   10257       10257             Italy Serie A
5   13274       13274    Netherlands Eredivisie
6   15722       15722        Poland Ekstraklasa
7   17642       17642  Portugal Liga ZON Sagres
8   19694       19694   Scotland Premier League
9   21518       21518           Spain LIGA BBVA
10  24558       24558  Switzerland Super League

### PLAYER.csv

In [120]:
df_player = pd.read_csv('european_soccer_dataset-PLAYER.csv')
display(df_player)

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
...,...,...,...,...,...,...,...
11055,11071,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168
11056,11072,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176
11057,11073,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154
11058,11074,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172
11059,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176

### PLAYER_ATTRIBUES.csv

In [121]:
df_player_attributes = pd.read_csv('european_soccer_dataset-PLAYER_ATTRIBUTES.csv')
display(df_player_attributes)

            id  player_fifa_api_id  player_api_id             date  aggression
0            1              218353         505942   2016/2/18 0:00        71.0
1            2              218353         505942  2015/11/19 0:00        71.0
2            3              218353         505942   2015/9/21 0:00        63.0
3            4              218353         505942   2015/3/20 0:00        62.0
4            5              218353         505942   2007/2/22 0:00        62.0
...        ...                 ...            ...              ...         ...
183973  183974              102359          39902   2009/8/30 0:00        56.0
183974  183975              102359          39902   2009/2/22 0:00        61.0
183975  183976              102359          39902   2008/8/30 0:00        67.0
183976  183977              102359          39902   2007/8/30 0:00        63.0
183977  183978              102359          39902   2007/2/22 0:00        63.0

[183978 rows x 5 columns]

### TEAM.csv

In [122]:
df_team = pd.read_csv('european_soccer_dataset-TEAM.csv')
display(df_team)

        id team_api_id      team_long_name team_short_name
0        1        9987            KRC Genk             GEN
1        2        9993        Beerschot AC             BAC
2        3       10000    SV Zulte-Waregem             ZUL
3        4        9994    Sporting Lokeren             LOK
4        5        9984   KSV Cercle Brugge             CEB
..     ...         ...                 ...             ...
593  49479       10190       FC St. Gallen             GAL
594  49837       10191             FC Thun             THU
595  50201        9777         Servette FC             SER
596  50204        7730  FC Lausanne-Sports             LAU
597  51606        7896              Lugano             LUG

[598 rows x 4 columns]

### TEAM_ATTRIBUTES.csv

In [123]:
df_team_attributes = pd.read_csv('european_soccer_dataset-TEAM_ATTRIBUTES.csv')
display(df_team_attributes)

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,Long,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,Mixed,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,1454,15005,10000,2011-02-22 00:00:00,52,Balanced,NaN,Little,52,Mixed,...,53,Normal,Organised,46,Medium,48,Press,53,Normal,Cover
1454,1455,15005,10000,2012-02-22 00:00:00,54,Balanced,NaN,Little,51,Mixed,...,50,Normal,Organised,44,Medium,55,Press,53,Normal,Cover
1455,1456,15005,10000,2013-09-20 00:00:00,54,Balanced,NaN,Little,51,Mixed,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1456,1457,15005,10000,2014-09-19 00:00:00,54,Balanced,42.0,Normal,51,Mixed,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1457,1458,15005,10000,2015-09-10 00:00:00,54,Balanced,42.0,Normal,51,Mixed,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover

## MATCH.CSV Cleaning

Delete blank columns

In [118]:
df_match = df_match.drop(columns=[col for col in df_match.columns if "Unnamed" in col])
display(df_match)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11
0,145,1,1,2008/2009,24,2/28/09 0:00,493016,9996,8635,1,...,38388.0,26458.0,13423.0,38389.0,38798.0,30949.0,38253.0,106013.0,38383.0,46552.0
1,146,1,1,2008/2009,24,2/27/09 0:00,493017,8203,9987,2,...,38293.0,148313.0,104411.0,148314.0,37202.0,43158.0,9307.0,42153.0,32690.0,38782.0
2,147,1,1,2008/2009,24,2/28/09 0:00,493018,9986,9998,3,...,39156.0,39151.0,166554.0,15652.0,39145.0,46890.0,38947.0,46881.0,39158.0,119118.0
3,148,1,1,2008/2009,24,3/1/09 0:00,493019,9985,9984,4,...,37047.0,37021.0,38186.0,27110.0,32863.0,37957.0,37909.0,104386.0,38251.0,37065.0
4,149,1,1,2008/2009,24,3/1/09 0:00,493020,9994,9991,0,...,27838.0,36841.0,38337.0,NaN,33662.0,37044.0,32760.0,38229.0,12574.0,46335.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25766,25975,24558,24558,2015/2016,9,9/22/15 0:00,1992091,10190,10191,1,...,563066.0,8800.0,67304.0,158253.0,133126.0,186524.0,93223.0,121115.0,232110.0,289732.0
25767,25976,24558,24558,2015/2016,9,9/23/15 0:00,1992092,9824,10199,1,...,114792.0,150007.0,178119.0,27232.0,570830.0,260708.0,201704.0,36382.0,34082.0,95257.0
25768,25977,24558,24558,2015/2016,9,9/23/15 0:00,1992093,9956,10179,2,...,67349.0,202663.0,32597.0,114794.0,188114.0,25840.0,482200.0,95230.0,451335.0,275122.0
25769,25978,24558,24558,2015/2016,9,9/22/15 0:00,1992094,7896,10243,0,...,121080.0,197757.0,260964.0,231614.0,113235.0,41116.0,462608.0,42262.0,92252.0,194532.0
25770,25979,24558,24558,2015/2016,9,9/23/15 0:00,1992095,10192,9931,4,...,95216.0,172768.0,22834.0,458806.0,207234.0,25772.0,40274.0,34035.0,41726.0,527103.0

Delete rows that have more than 5 blank players for `home_team` or `away_team`

In [124]:
df_match = df_match[df_match.iloc[:, 11:22].isna().sum(axis=1) <= 5]
df_match = df_match[df_match.iloc[:, 22:33].isna().sum(axis=1) <= 5]

display(df_match)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11
0,145,1,1,2008/2009,24,2/28/09 0:00,493016,9996,8635,1,...,38388.0,26458.0,13423.0,38389.0,38798.0,30949.0,38253.0,106013.0,38383.0,46552.0
1,146,1,1,2008/2009,24,2/27/09 0:00,493017,8203,9987,2,...,38293.0,148313.0,104411.0,148314.0,37202.0,43158.0,9307.0,42153.0,32690.0,38782.0
2,147,1,1,2008/2009,24,2/28/09 0:00,493018,9986,9998,3,...,39156.0,39151.0,166554.0,15652.0,39145.0,46890.0,38947.0,46881.0,39158.0,119118.0
3,148,1,1,2008/2009,24,3/1/09 0:00,493019,9985,9984,4,...,37047.0,37021.0,38186.0,27110.0,32863.0,37957.0,37909.0,104386.0,38251.0,37065.0
4,149,1,1,2008/2009,24,3/1/09 0:00,493020,9994,9991,0,...,27838.0,36841.0,38337.0,NaN,33662.0,37044.0,32760.0,38229.0,12574.0,46335.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25766,25975,24558,24558,2015/2016,9,9/22/15 0:00,1992091,10190,10191,1,...,563066.0,8800.0,67304.0,158253.0,133126.0,186524.0,93223.0,121115.0,232110.0,289732.0
25767,25976,24558,24558,2015/2016,9,9/23/15 0:00,1992092,9824,10199,1,...,114792.0,150007.0,178119.0,27232.0,570830.0,260708.0,201704.0,36382.0,34082.0,95257.0
25768,25977,24558,24558,2015/2016,9,9/23/15 0:00,1992093,9956,10179,2,...,67349.0,202663.0,32597.0,114794.0,188114.0,25840.0,482200.0,95230.0,451335.0,275122.0
25769,25978,24558,24558,2015/2016,9,9/22/15 0:00,1992094,7896,10243,0,...,121080.0,197757.0,260964.0,231614.0,113235.0,41116.0,462608.0,42262.0,92252.0,194532.0
25770,25979,24558,24558,2015/2016,9,9/23/15 0:00,1992095,10192,9931,4,...,95216.0,172768.0,22834.0,458806.0,207234.0,25772.0,40274.0,34035.0,41726.0,527103.0

In [125]:
df_player_attributes = df_player_attributes.dropna(subset=[df_player_attributes.columns[2],df_player_attributes.columns[4]])
display(df_player_attributes)

            id  player_fifa_api_id  player_api_id             date  aggression
0            1              218353         505942   2016/2/18 0:00        71.0
1            2              218353         505942  2015/11/19 0:00        71.0
2            3              218353         505942   2015/9/21 0:00        63.0
3            4              218353         505942   2015/3/20 0:00        62.0
4            5              218353         505942   2007/2/22 0:00        62.0
...        ...                 ...            ...              ...         ...
183973  183974              102359          39902   2009/8/30 0:00        56.0
183974  183975              102359          39902   2009/2/22 0:00        61.0
183975  183976              102359          39902   2008/8/30 0:00        67.0
183976  183977              102359          39902   2007/8/30 0:00        63.0
183977  183978              102359          39902   2007/2/22 0:00        63.0

[183142 rows x 5 columns]

In [126]:
df_match.to_csv('CLEANED1_european_soccer_dataset-MATCH.csv', index=False)

In [127]:
for i in range(len(df_match)):
    df_match.iloc[i, 5] = df_match.iloc[i, 5].split(' ')[0]
for i in range(len(df_match)):
    date = df_match.iloc[i, 5].split('/')
    df_match.iloc[i, 5] = date[0] + '-' + date[1] + '-' + date[2]
display(df_match)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11
0,145,1,1,2008/2009,24,2-28-09,493016,9996,8635,1,...,38388.0,26458.0,13423.0,38389.0,38798.0,30949.0,38253.0,106013.0,38383.0,46552.0
1,146,1,1,2008/2009,24,2-27-09,493017,8203,9987,2,...,38293.0,148313.0,104411.0,148314.0,37202.0,43158.0,9307.0,42153.0,32690.0,38782.0
2,147,1,1,2008/2009,24,2-28-09,493018,9986,9998,3,...,39156.0,39151.0,166554.0,15652.0,39145.0,46890.0,38947.0,46881.0,39158.0,119118.0
3,148,1,1,2008/2009,24,3-1-09,493019,9985,9984,4,...,37047.0,37021.0,38186.0,27110.0,32863.0,37957.0,37909.0,104386.0,38251.0,37065.0
4,149,1,1,2008/2009,24,3-1-09,493020,9994,9991,0,...,27838.0,36841.0,38337.0,NaN,33662.0,37044.0,32760.0,38229.0,12574.0,46335.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25766,25975,24558,24558,2015/2016,9,9-22-15,1992091,10190,10191,1,...,563066.0,8800.0,67304.0,158253.0,133126.0,186524.0,93223.0,121115.0,232110.0,289732.0
25767,25976,24558,24558,2015/2016,9,9-23-15,1992092,9824,10199,1,...,114792.0,150007.0,178119.0,27232.0,570830.0,260708.0,201704.0,36382.0,34082.0,95257.0
25768,25977,24558,24558,2015/2016,9,9-23-15,1992093,9956,10179,2,...,67349.0,202663.0,32597.0,114794.0,188114.0,25840.0,482200.0,95230.0,451335.0,275122.0
25769,25978,24558,24558,2015/2016,9,9-22-15,1992094,7896,10243,0,...,121080.0,197757.0,260964.0,231614.0,113235.0,41116.0,462608.0,42262.0,92252.0,194532.0
25770,25979,24558,24558,2015/2016,9,9-23-15,1992095,10192,9931,4,...,95216.0,172768.0,22834.0,458806.0,207234.0,25772.0,40274.0,34035.0,41726.0,527103.0

In [150]:
df_match.iloc[:,6:]=df_match.iloc[:,6:].dropna().astype('Int64')
display(df_match)

AttributeError: 'Series' object has no attribute '_hasna'